@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap')
@font-face
    font-family: 'Poppins'
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap') format('woff2')

// Varibles start:
$headerAndFooterBackground: #959da533 0px 8px 24px
// Breakpoints varibles
$breakpoint-xsmall: 320px
$breakpoint-small: 576px
$breakpoint-medium: 768px
$breakpoint-large: 1024px
$breakpoint-extra-large: 1300px
// Varibles end;   

// Media Queries

// @media (min-width: $breakpoint-large)

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Poppins', sans-serif

body
    position: relative

header
    justify-content: space-between
    position: fixed
    top: 0
    left: 0
    width: 100%
    padding: 15px 20px
    background: #11141a
    display: flex
    align-items: center
    z-index: 100

.logo-container
    display: flex
    align-items: center
    gap: .5rem
    background-color: rgba(149, 157, 165, 0.2) 0px 8px 24px
    .logo-img
        mix-blend-mode: normal
        object-fit: contain
        width: 100px
        height: auto
        transition: hover 0.3s

    .pageTitle
        font-size: 25px
        color: #e5c01a
        text-decoration: none
        font-weight: 600
nav
    padding: 0 50px
    text-decoration: none
    display: flex
    justify-content: space-between
    align-content: center
    ul
        display: flex
        text-decoration: none
        list-style: none
        gap: 15px
    .nav-link
        font-size: 18px
        color: #fff
        text-decoration: none
        font-weight: 500
        margin-left: 35px
        transition: .3s

        &:hover
            color: #e5c01a
        &:active
            color: #e5c01a

.burger-menu-icon
    display: none

section
    color: red
    text-align: center
    line-height: 100vh
    font-size: 50px

footer
    position: absolute
    bottom: 0
    width: 100%
    height: 3rem
    font-size: 1rem
    background: #11141a
    color: white
    display: flex
    align-items: center
    justify-content: center

@media screen and (max-width: 768px)
    nav
        display: none

    .burger-menu-icon
        display: block

    .logo-img
        display: none

    .mobileNav
        position: absolute
        z-index: 1
        display: flex
        color: #e5c01a
        background: #11141a
        top: 0
        left: 0
        width: 100%
        align-items: center
        justify-content: center
    ul
        display: flex
        flex-direction: column
        text-decoration: none
        list-style: none
        width: 305px
        border: 1.5px solid #e5c01a
        li

            padding: .5rem
            text-align: center
            // TODO : Afla cum faci ca item-ul selectat sa aibe css diferit 
        // li:active, li:visited
        //     color: #fff
        //     border: 1px solid #fff
